[user]
;	name = isdyy
;	email = isdyy020202@gmail.com
	name = k.ishida
	email = k.ishida@gigei.jp

[github]
	user  = isdyy
	email = k.ishida@gigei.jp

[alias]
	co = checkout
	st = status
	fo = fetch origin --prune
	ff = merge --ff-only
	fetch-pulls = fetch origin +refs/pull/*:refs/remotes/origin/pull/*
	empty-commit = commit --allow-empty --allow-empty-message
	log-graph = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
	log-summary = log --pretty=format:'%ad %h %an %s' --date=short
    find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"
	;smup = submodule update
	dc = diff --cached
	dv = !sh -c 'git diff $* | view -' --
	dcv = !sh -c 'git diff --cached $* | view -' --

[core]
;	autocrlf = input
;	safecrlf = true

[color]
;	ui = auto
;	diff = auto
;
[pull]
	# from 1.7.9
	rebase = true

[push]
	default = simple

[merge]
	# from 1.7.6;
	# If set to false, we can not use merge --ff-only while if set to 'only'
	# we can not use merge --no-ff.
	#ff = false
	defaultToUpstream = true
[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
